# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/flutter_assets
/build/last_build_run.json
/build/4f2a58af27abc49ecf55570043bbf938.cache.dill.track.dill
/build/69ad9f42f3f60603a03c4c68b2f116bc

# Web related
lib/generated_plugin_registrant.dart
build/web/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
